# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
.idea/
.DS_Store
LICENSE
acl/
binlog/
bytes/
callerid/
canal/
concurrency/
connpool/
dbconfigs/
dbconnpool/
event2/
flagutil/
hack/
logz/
mysql/
netutil/
pkg/
pools/
protocol/
schema/
slice.go
sqlparser/
sqltypes/
stats/
streamlog/
tabletenv/
tb/
timer/
trace/
vterrors/
